<header class="header">
  <span class="logo-text-span">
    <img src="../../assets/img/lego.png" alt="LEGO Logo" class="header-image" />
    <h1 class="header-title">Mindstorm Assembly Assistant</h1>
    <h5 style="margin-left: 2rem; margin-top: 1rem">
      Disclaimer: This static version is only for viewing purposes. The
      connection button is disabled. Thus, inference and checks do not work.
      <a
        href="https://www.youtube.com/watch?v=6ERkzYlu3Os"
        style="color: yellow"
        target="_blank"
        >Click here</a
      >
      for a demo video.
    </h5>
  </span>
</header>
