.header-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.header-title {
  font-size: 24px;
  margin: 0;
}

.logo-text-span {
  display: flex;
  align-items: center; /* vertically center-align items */
}
